
/* LANDING PAGE */

.landing {
  display: flex;
  justify-content: center;
}

.landing .login-button {
  margin: 20px;
}

/* NAVBAR */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 100vw;
  border-bottom: 1px solid #333300;
  padding: 10px;
  background-color: #000000;
}

.nav {
  display: flex;
  justify-content: center;
  min-height: 70px;
}

.nav-left button {
  margin-left: 10px;
}


.profile-pic {
  min-width: 45px;
  max-width: 45px;
  border-radius: 50%;
  margin-right: 20px;
}

.logo {
  max-width: 80px;
  border-radius: 100px;
  margin-right: 20px;
}
 
/* USER INPUT */

.write-stuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

form.input-form {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 10px 0px;
  background-color: #000000;
}

.input-form .input-note {
  min-height: 80px;
  border-radius: 10px;
  background-color: #242424;
}

.input-note {
  margin: 0 0 0px 0;
  padding: 5px;
  color: whitesmoke;
  font-size: 14px;
}

.input-note:focus {
  outline: none !important;
  border: 3px solid #646cffaa;
  padding: 3px;
}
.input-note:hover {
  border-color: #646cffaa;
}

::placeholder {
  color: #646cffaa;
  font-weight: 500;
}

.submit-button {
  margin: 10px 0 0px 0;
}

.submit-button, .login-button {
  min-width: 400px;
  max-width: 400px;
  border-radius: 8px;
  border: 1px solid #333300;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.submit-button:hover {
  border-color: #646cff;
}
.submit-button:focus,
.submit-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* FEED */

.feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.note {
  text-align: start;
  margin: 5px 0px 5px 0px;
  padding: 5px 5px 5px 5px;
  min-height: 120px;
  border: #333333 solid 1px;
  border-radius: 15px;
  background-color: #2a2828;
  overflow: hidden;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: 'vertical';
  display: '-webkit-box';
  font-size: 15px;
  font-weight: 500;
  min-width: 400px;
  max-width: 400px;
}

.note-content {
  padding: 2px;
  overflow: auto;
}

/* PROFILE SECTION OF NOTES */
.profile-image {
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  border-radius: 50% !important;
  object-fit: fill !important;
  margin: 0 3px 0 3px;
  padding-left: 5px;
}

.note-banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #242424;
  margin: -5px -10px -10px -10px;
  padding-top: 3px;
  border: #333333 solid 3px 1px 3px 1px;
  border-radius: 15px;
  max-height: 55px;
}

.name {
  color: #646cffaa;
  margin-left: 5px;
}

/* PROFILE PAGE */

.profile-page {
  display: flex;
  flex-direction: column;
}

.banner {
  object-fit: cover;
  width: 100vw;
  height: 180px;
  align-content: center;
  border-bottom: 6px white solid;
}

.profile-header {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
}

.profile-page-image {
  margin-top: -55px;
  margin-left: 20px;
  border: 6px white solid;
  object-fit: cover;
  border-radius: 50%;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
}

.profile-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content-box {
  width: 50px;
  height: 50px
}

.profile-name {
  margin: 0;
  color: #646cffaa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
}

.profile-content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.zap-icon {
  min-width: 40px;
  max-width: 40px;
  min-height: 30px;
  max-height: 30px;
  border: white 2px solid;
  padding: 5px;
  border-radius: 40%;
}