
/* LANDING PAGE */

.landing {
  display: flex;
  justify-content: center;
}

.landing .login-button {
  margin: 20px;
}

.login-button {
  min-width: 230px;
  max-width: 230px;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.login-button:hover {
  border-color: #646cff;
}
.login-button:focus,
.login-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* LOGIN PAGE */

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.login-logo {
  max-width: 320px;
  border-radius: 25px;
  margin: 10px;
  border: #fff 4px solid;
}

/* NAVBAR */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav {
  justify-content: center;
  align-items: center;
  min-width: 100%;
  border-bottom: 1px solid #333300;
}

.nav ul{
  display: flex;
  min-height: 60px;
  max-height: 60px;
  
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px;
}

.nav-left {
  min-width: 100px;
}

.nav-left button {
}

.nav-middle {
  min-width: 100px;
  margin: 0px;
  padding: 0px;
}

.nav-right li {
  min-width: 100px;
}

.profile-pic {
  margin-right: 10px;
  min-width: 45px;
  max-width: 45px;
  border-radius: 50%;
}

.logo {
  margin: 0;
  padding: 0;
  max-height: 40px;
  border-radius: 10px;
  border: #6A6A6A solid 2px;
  margin-right: 20px;
}
 
/* USER INPUT */

.write-stuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  /* min-width: 100%; */
  padding: 5px 0 5px 0;
}

form.input-form {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 10px 0px;
  background-color: #000000;
}

.input-form .input-note {
  min-height: 80px;
  border-radius: 10px;
  background-color: #242424;
}

.input-note {
  margin: 3px;
  padding: 10px;
  color: whitesmoke;
  font-size: 14px;
}

.input-note:focus {
  outline: none !important;
  border: 3px solid #646cffaa;
  padding: 7px;
  margin: 4px;
}
.input-note:hover {
  border-color: #646cffaa;
}

::placeholder {
  color: #646cffaa;
  font-weight: 500;
}

.submit-button {
  margin: 10px 0 0px 0;
}

.submit-button {
  min-width: 390px;
  max-width: 390px;
  border-radius: 8px;
  border: 1px solid #333300;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.submit-button:hover {
  border-color: #646cff;
}
.submit-button:focus,
.submit-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* FEED */

.feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  background-color: #000000;
}


/* NOTECARDS */

/* PROFILE SECTION OF NOTES */
.profile-image {
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  border-radius: 50% !important;
  object-fit: cover !important;
  margin: 3px 3px 0 5px;
}

.note-banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #000000;
  padding-top: 3px;
  max-height: 60px;
}

.note-banner2 {
  display: flex;
  flex-direction: column;
}

.name {
  color: #fff;
  font-size: 16.4px;
  margin-left: 5px;
  border-bottom: rgba(100, 108, 255, 0.6) solid 1px;
}

.tag {
  font-size: 11px;
  margin-left: 5px;
  color: grey;
}

/* NOTECARD CONTENT */

.note {
  min-height: 120px;
  border-top: #333333 solid 1px;
  background-color: #000000;
  overflow: hidden;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: 'vertical';
  display: '-webkit-box';
  min-width: 430px;
  max-width: 430px;
}

.note-content {
  margin: 0px 0px 0 0px;
  overflow: auto;
  font-size: 16px;
}

.text-content {
  margin: 5px;
  padding: 0 0 5px 0;
  line-height: 1.34;

}

img.note-image {
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 425px;
  object-position: center;
  display: flex;
  min-width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.note-video {
  max-width: 425px;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  font-size: 5px;
  padding: 0px 5px;
  margin-bottom: 5px;
  background-color: none;
}

button .note-button {
  background-color: none !important;
}

/* PROFILE PAGE */

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  object-fit: cover;
  height: 180px;
  min-width: 430px;
  align-content: center;
  border-bottom: 6px white solid;
}

.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

.profile-page-image {
  margin-top: -55px;
  margin-left: 20px;
  border: 6px white solid;
  object-fit: cover;
  border-radius: 50%;
  min-width: 90px;
  max-width: 90px;
  min-height: 90px;
  max-height: 90px;
}

.profile-name {
  margin-top: 0px;
  margin-left: 10px;
  color: #646cffaa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 380px;
  padding: 5px;
}

.zap-icon {
  margin-top: 0px;
  margin-left: 20px;
  min-width: 40px;
  max-width: 40px;
  min-height: 30px;
  max-height: 30px;
  padding: 8px;
  border-radius: 40%;
}

button.zap {
  background-color: transparent;
  padding: 0;
}

.heading {
  padding: 10px;
  font-weight: bold;
}

/* LOADING INDICATOR */

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 9rem;
  margin-bottom: 3rem;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.35s ease-in-out infinite;
  filter: drop-shadow(0 0 .5rem rgba(100, 108, 255, 0.75));
}
.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 .5rem #646cffaa;
  animation-name: pulsIn;
}
.loader:after {
  width: calc(100% - 1rem);
  padding-bottom: calc(100% - 1rem);
  box-shadow: 0 0 0 0 #646cffaa;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 .5rem #fff;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 #646cffaa;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #646cffaa;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 .5rem #fff;
    opacity: 1;
  }
}
    
    